.nav-bar {
  top: 0;
  display: flex;
  position: relative;
  height: auto;
  padding: 0 10%;
}
.nav {
  height: auto;
}
.account-icon .account-icon_wrapper {
  padding: 20px;
}
.account-icon .icon {
  border-style: solid;
  border-width: 0 0 0 1px;
  border-color: #dedede;
  font-size: 40px;
  padding: 0 0 0 45px;
}
.menu {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: flex-end;
}
.menu-list {
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 100%;
}
.menu-list a {
  padding: 10px;
}
.menu-list li {
  display: inline;
  cursor: pointer;
}
.menu-list li :hover {
  color: #686868;
}
.logo img {
  padding: 5px;
  height: 70px;
  cursor: pointer;
}
.dropdown-content {
  margin: 20px;
  display: none;
  position: absolute;
  background-color: #f5f3f3;
  min-width: 110px;
  padding: 2px;
  z-index: 1;
  text-align: center;
  font-size: 100%;
  cursor: pointer;
}
.account-icon_wrapper:hover .dropdown-content {
  display: block;
}
p:hover {
  color: #686868;
}
