.profile-container {
  margin: 50px auto;
  max-width: 1000px;
}
.user-header {
  height: auto;
}
.exit-btn {
  max-width: 300px;
  max-height: 50px;
  background-color: black;
  color: white;
  align-items: flex-end;
  border-radius: 8px;
  font-size: 100%;
}
.user-avatar {
  width: 200px;
  height: 200px;
}
.user-avatar img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}
