.container {
  top: 0;
  margin: 50px auto;
  max-width: 400px;
}
.form-field {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.mat-raised-button {
  margin-top: 10px;
  width: 100%;
  color: white;
  height: 40px;
  background-color: black;
}
.label {
  margin-top: 10px;
  width: 100%;
  cursor: pointer;
}
