.card-conteiner {
  margin: 100px auto;
  max-width: 1000px;
}
.review-list {
  margin-top: 150px;
}
.review-card {
  margin-top: 50px;
  min-height: 250px;
}
.book-cover {
  width: 155px;
  border-radius: 8px;
}
.review-body {
  margin-left: 185px;
}
