.card-conteiner {
  margin: 100px auto;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
}
.book-cover {
  width: 170px;
  height: 256px;
  border-radius: 8px;
}
.desc-wrapper {
  margin-top: 30px;
}
.first-block {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.second-block {
  display: flex;
  flex-direction: column;
  margin: 0 50px;
}
.review-list {
  margin-top: 150px;
}
.review-card {
  margin-top: 50px;
  min-height: 100px;
  cursor: pointer;
}
.mat-raised-button {
  background-color: black;
  color: white;
  margin-left: 15px;
}
.review-header {
  font-size: 30px;
  font-weight: 500;
  margin-top: 50px;
  margin-bottom: 20px;
}
.non-review {
  font-size: 15px;
  margin-top: 30px;
}
