.login-conteiner {
  margin-top: 100px;
  text-align: -webkit-center;
}
.login-card {
  max-width: 400px;
}
.login-form-field {
  margin-top: 10px;
  width: 100%;
}
.mat-raised-button {
  margin-top: 10px;
  width: 100%;
  color: white;
  height: 40px;
  background-color: black;
}
.login-not-found-message {
  color: #a3130e;
  text-align: center;
  margin-bottom: 5px;
}
